<div class="widget" style="position: sticky; top: 20px;">
    <h4 class="widget__title">🚀 Launch Your Project with just 4💲</h4>
    <div class="widget__content">
    <a href="https://digitalocean.pxf.io/zxa41m" target="_blank" class="affiliate-link">
		<img src="{{ "img/digitalocean.jpeg" | relURL }}"
		         alt="Digital Ocean Referral"
		 		 class="affiliate-image"
		 		 loading="lazy"
		         style="max-width: 100%; height: auto;">
	</a>
    </div>
</div>

{{ define "style" }}
<style>
.widget__content .affiliate-image {
    display: block;
    max-width: 100%;
    margin: 0 auto;
}

.widget__content .affiliate-link {
    display: block;
    text-align: center;
}
.widget {
    position: sticky;
    top: 20px;
    z-index: 100;
}
</style>
{{ end }}